# ------------------------------------
# Entornos Virtuales
# ------------------------------------
venv/
.venv/

# ------------------------------------
# Python / IDEs
# ------------------------------------
__pycache__/
*.pyc
.vscode/
